* {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "hd"
    "main"
    "sidebar"
    "ft";
}

header {
  grid-area: hd;
}

footer {
  grid-area: ft;
}

article {
  grid-area: main;
}

aside {
  grid-area: sidebar;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: 2fr 4fr;
    grid-template-areas:
      "hd        hd"
      "sidebar main"
      "sidebar   ft";
  }
}

.grid > * {
  border: 1px solid rgb(0, 95, 107);
  border-radius: 3px;
  background-color: rgba(0, 95, 107, 0.8);
  padding: 1em 2em;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
}

.grid article {
  border: 1px solid rgb(0, 180, 204);
  background-color: rgba(0, 180, 204, 0.8);
}
