body {
  margin: 2em 0 0 0;
}

.content,
.inner {
  margin: 0 auto;
  width: 90%;
  max-width: 940px;
}

.footnotes {
  border-top: 2px solid #ccc;
  padding: 1em 0;
  margin-top: 2em;
}

.content {
  column-width: 200px;
  column-count: 3;
}

h1 {
  column-span: all;
  background-color: red;
}

img {
  max-width: 100%;
  column-span: all;
  display: block;
}
